

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 14px;
    text-decoration: none;
    background-color: #ACF187;
}

li a:hover, .dropdown:hover .dropbtn {
    border-left: 2px solid #AEDE94;
    text-decoration: none;
    color: black;;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 4;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    user-select: none;
    font-weight: bolder;
}

.dropdown-content a:hover {
    color: black;
    background-color: #7DB95C}

.dropdown:hover .dropdown-content {
    display: block;

}



#smoothie-icon{
    width: 28%;
}
#hut{
    width: 20%;
    padding-bottom: 3px;
}
#straw{
    width: 18%;
    padding-bottom: 3px;
}


.stufe3{
    display: none;
    position: absolute;
    width: 160px;
    margin-left: 160px;
    background-color: #f9f9f9;
    border-left: 2px solid #AEDE94;
}
.stufe3 a{
    user-select: none;
}

#stufe2-link1:hover #stufe3-link1{
    display: inline-block;
    top: 0;
}
#stufe2-link2:hover #stufe3-link2{
    display: block;
    top: 52.5px;
}
#stufe2-link3:hover #stufe3-link3{
    display: block;
    top: 102px;
}
